.body
{
    background-color: blue;
}

.par-style
{
    font-size:20px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.title
{
    background-color: orange;
    text-align: center;
    border-radius: 5px; 
    
}


.my_form
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-style: inset;
    border-width:5px;
    border-color:#EFC711;
    align-items: center;
    background-color: lightcoral;
    border-radius:30px;
}

.my_form-2
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-style: inset;
    border-width:5px;
    border-color:#EFC711;
    background-color: lightblue;
    border-radius:30px;
}

.my_input
{
    background-color: white;
    height: 100%;
    margin-right: 2px;
    border: 2px solid #EFC711; 
    border-style: inset;
    border-radius:5px;
    box-shadow: 1px 1px 5px #555 inset;
    width: 90%;

}

.my_input_2
{
    background-color: white;
    height: 30px;
    margin-right: 2px;
    border: 2px solid #EFC711; 
    border-style: inset;
    border-radius:5px;
    box-shadow: 1px 1px 5px #555 inset;
    width: 30%;

}


